<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#movie_preview" href="#preview-{{moviePreview.id}}">{{moviePreview.title}} ({{moviePreview.year}})</a>
  </div>
  <div id="preview-{{moviePreview.id}}" class="accordion-body collapse">
    <div class="accordion-inner">
      <div class="row-fluid">
        <div class="span2">
          <img src="{{moviePreview.cover_url}}" class="img-polaroid">
        </div>
        <div class="span10">
          <div class="row-fluid">
            <div class="span12">
              {{#moviePreview.tagline}}
              <span class="lead">{{moviePreview.tagline}}</span>
              {{/moviePreview.tagline}}
              <p>{{moviePreview.overview}}</p>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span3"><strong>Length</strong></div>
            <div class="span3">{{moviePreview.length}}</div>
            <div class="span3"><strong>Languages</strong></div>
            <div class="span3">{{moviePreview.languages}}</div>
          </div>
          <div class="row-fluid">
            <div class="span3"><strong>Genre</strong></div>
            <div class="span9">{{moviePreview.genres}}</div>
          </div>
          <div class="row-fluid">
            <div class="span3"><strong>Cast</strong></div>
            <div class="span9">{{moviePreview.cast}}</div>
          </div>
          <div class="row-fluid">
            <div class="span12">
              <a href="http://imdb.com/title/{{moviePreview.imdb_id}}/" class="btn btn-primary" target="_blank">Show on IMDB</a>
              <a href="#select" class="btn btn-primary">Select</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
