<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#movie_preview" href="#preview-{{moviePreviewTitle.id}}">{{moviePreviewTitle.title}} ({{moviePreviewTitle.year}})</a>
  </div>
  <div id="preview-{{moviePreviewTitle.id}}" class="accordion-body collapse" data-accordion-href="http://moviez.dev/tmdb_movie_search/{{moviePreviewTitle.id}}.json" data-accordion-id="{{moviePreviewTitle.id}}">
    <div class="accordion-inner">

      <div class="spinner">
        <div class="progress progress-striped active">
          <div class="bar" style="width: 100%">Loading movie details</div>
        </div>
      </div>

    </div>
  </div>
</div>
