<div class="row-fluid">
  <div class="span2">
    <img src="{{movie.image}}" alt="{{movie.title}}" />
  </div>
  <div class="span10">
    <h3>
      <a href="{{movie.url}}">{{movie.title}}</a>
      <small>
        <span>{{movie.disc_number}}</span>
        <span>{{movie.watched}}</span>
      </small>
    </h3>
    <span>{{movie.description}}</span>
  </div>
</div>
