<div class="row">
  <div class="two columns text-center">
    <img src="{{image}}" alt="{{title}}" />
  </div>
  <div class="ten columns">
    <h3>
      <a href="{{url}}">{{title}}</a>
      <small>
        <span>{{disc_number}}</span>
        <span>{{watched}}</span>
      </small>
    </h3>
    <span>{{description}}</span>
  </div>
</div>
