<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#movie_preview" href="#preview-{{moviePreviewTitle.id}}">{{moviePreviewTitle.title}} ({{moviePreviewTitle.year}})</a>
  </div>
  <div id="preview-{{moviePreviewTitle.id}}" class="accordion-body collapse" data-accordion-href="/tmdb_movie_searches/{{moviePreviewTitle.id}}.json" data-accordion-id="{{moviePreviewTitle.id}}">
    <div class="accordion-inner">

      <div class="tc spinner" id="spinner">
        <i class="icon-spinner icon-spin icon-large"></i>
        Loading movie details
      </div>

    </div>
  </div>
</div>
