%h2  Movies in the database

.row
  .ten.columns
    %form
      %input{type: :text, placeholder: 'Filter movies', autofocus: 'autofocus', data: {bind: 'controllers.movies.filter'}}
  .two.columns
    = link_to 'New Movie', new_movie_path, class: [:button, :small]

= render @movies
