- model_class = Movie
.page-header
  %h1=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human, :default => "New #{model_class.model_name.human}")


%h2 Search for a movie
= render partial: 'tmdb_movie_search/form'
