= template_include_tag 'movie_preview'

.row-fluid
  .span3
    = form_tag tmdb_movie_search_path do
      = text_field_tag :title, params[:title], placeholder: 'Movie title', autocomplete: 'off', 'data-observe-multiple' => :moviePreview, 'data-observe-target' => :movie_search

  .span9
    #spinner.hide
      .progress.progress-striped.active
        .bar{style: 'width: 100%'} Searching for movies

    #movie_search.accordion

