= form_tag tmdb_movie_search_create_path, method: :get do
  = text_field_tag :title, params[:title], placeholder: 'Movie title', 'data-observe-multiple' => :movie, 'data-observe-target' => :movie_search
