!!! 5
%head
  %title Moviez
  = stylesheet_link_tag 'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
%body
.container
  .row.nav-bar.top-bar
    .six.columns
      %ul.nav-bar.top-bar
        %li
          %a{:_action => 'showHome'} Moviezzzz
        %li
          %a{:_action => 'showAbout'} About
    .six.columns
      %form
        .row.collapse
          .eight.mobile-three.columns
            %input{type: :text}
          .four.mobile-one.columns
            %a.postfix.button.expand{href: '#'} Search

.container
  .row
    = yield
