!!! 5
%head
  %title Moviez
  = stylesheet_link_tag 'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags
  %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
%body
.container
  .row
    .twelve.columns
      %ul.nav-bar.top-bar
        %li{data: {'addclass-active' => 'window.Moviez.currentRoute.controller | matches "movies"'}}
          %a{data: {route: 'routes.movies'}} Moviezzzz
        %li{data: {'addclass-active' => 'window.Moviez.currentRoute.controller | matches "about"'}}
          %a{data: {route: 'routes.about'}} About

.container
  .row
    .twelve.columns
      %p#flashnotice.alert-box.success{data: {showif: 'window.BatmanRailsDemo.flash.success.length'}}
        %a.close{href: '#'}
        %span{data: {bind: 'window.BatmanRailsDemo.flash.success'}}
      %p#flashnotice.alert-box.error{data: {showif: 'window.BatmanRailsDemo.flash.error.length'}}
        %a.close{href: '#'}
        %span{data: {bind: 'window.BatmanRailsDemo.flash.error'}}

.container
  .row
    .twelve.columns
      %div{data: {yield: :main}}
